html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    max-width: 900px;
    color: #323232;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    line-height: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: auto;
}

nav a {
    color: #323232;
    text-decoration: none;
    font-weight: 600;
    padding: 0.8rem;
}

nav a:hover {
    font-size: 1.5rem;
}

h2 {
    display: block;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

section {
    display: block;
    padding: 1rem 0;
}

.about-me-container {
    display: flex;
}

.about-me-text-container {
    margin-right: 1rem;
}

p {
    display: block;
}

.about-me-container img {
    width: 300px;
    border-radius: 0.7rem;
}

.project-title h3 {
    display: inline;
}

summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

.project-image {
    width: 50%;
}

details {
    cursor: pointer;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills-container > * {
    font-size: 2.5rem;
    width: 4rem;
}

footer {
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
    padding: 0.75rem 0;
    margin-top: 2rem;
}

.technology {
    font-size: 0.8rem;
    font-weight: bold;
    border: 2px solid black;
    padding: 0.1rem 0.4rem;  
    margin: 0.3rem;
}

a:hover {
    font-weight: bold;
}

#contact-methods-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#contact-methods-container > * {
    font-size: 2.5rem;
    width: 4rem;
}

.fa-linkedin {
    color: #0a66c2;
}

.fa-github {
    color: #24292f;
}

.fa-envelope-square {
    color: lightslategray;
}